<div ng-controller="SalesController2">

<h2> Demo: Fast Neural Style Transfer </h2>
<div class="lead">
<p> <a href="https://gist.github.com/jzstark/6f28d54e69d1a19c1819f52c5b16c1a1"> Neural Style Transfer </a> is the process of using Deep Neural Networks to migrate the semantic content of one image to different styles. <b>Fast Neural Style Transfer</b> (FST) can finish this process in the order of seconds. Introduction and code of this demo can be found in this <a href=https://gist.github.com/jzstark/f937ce439c8adcaea23d42753f487299> Gist</a>. </p>
<p> Total number of processed images: {{processed}}. </p> 
</div>

<!-- <div ng-model="count" ng-init="count=0"> -->

<div class="jumbotron">

  <div class="row">
    <div class="col-sm-6">
    <!--
    <input id="stylenumber" ng-model="style" ng-change="change()" ng-init="style=1">
    -->
      <p> Styles </p>
      <div>
        <select name="category-group" id="categoryGroup"
        class="form-control"
        ng-model="itemSelected"
        ng-change="onCategoryChange(itemSelected)"
        ng-options="category.name group by category.group for category in categories">
        </select>
        <div ng-init="style_img='images/fs1.jpg'">
          <img class="img-thumbnail" ng-src="{{style_img}}">
        </div>
      </div>
    </div>

    <div class="col-sm-6 lead divided_col">
      <p> Input Image </p>
      <form action="" class="dropzone" dropzone2="" id="dropzone">
        <div class="dz-default dz-message">Click to Upload<br>or<br>Drag &amp; Drop </div>
      </form>
    </div>

  </div>
</div>

<!--
<div style="background:transparent !important" class="jumbotron">
    <img src="images/plus_square.png" width=100>
</div>

<div class="jumbotron" >
    <div class="lead">
        <p> Input Image </p>
        <form action="" class="dropzone" dropzone2="" id="dropzone">
            <div class="dz-default dz-message">Click to Upload<br>or<br>Drag &amp; Drop </div>
        </form>
    </div>
</div>

<div style="background:transparent !important" class="jumbotron">
    <img src="images/equal_square.png" width=100>
</div>
-->

<div class="jumbotron">
  <p> Output Image </p>
  <div class="lead">
  <img ng-src="{{image}}">
  </div>
</div>

<div class="lead">
	<p> FST can be used to render videos in a frame-by-frame manner. This <a href="https://www.youtube.com/watch?v=cFOM-JnyJv4&list=PLGt9zVony2zVSiHZb8kwwXfcmCuOH2W-H"> Youtube list</a> below shows examples of applying Style Transfer to video clips. </p>
</div>

<div class="jumbotron">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLGt9zVony2zVSiHZb8kwwXfcmCuOH2W-H" frameborder="0" allow="accelerometer; autoplay; loop; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

<div>
<p>Note that currently due to limited computation power, images are resized when necessary. </p>
<p> <b>Disclaimer:</b> We do not keep your uploaded image in our server.</p>
</div>
</div>

