<div ng-controller="SalesController3">

<h2> Demo: Image Segmentation with Mask R-CNN  </h2>
<div class="lead">
<p>

This is an implementation of the Mask R-CNN network using Owl. This network can be used to perform object detection, segmentation and classification. The implementation is based on <a href="https://arxiv.org/abs/1703.06870"> this paper </a>, and ported from <a href="https://github.com/matterport/Mask_RCNN"> this Keras implementation </a>. The code used in the demo can be found in this <a href="https://github.com/owlbarn/owl-mask-rcnn"> Github Repo </a>.
</p>

<p> Belows shows one example of applying Mask R-CNN to an image of street view. You can also upload your own image to be processed. Note that to reduce server load, images are resized to a small size before being processed, which diminishes the quality of the detection. You can obtain better results by running the code locally. </p>   


<p> Total number of processed images: {{processed}}. </p> 

</div>

<div class="jumbotron">
  <!-- <img src="images/mrcnn_example.jpg" width=582 alt="mrcnn example"> -->
  <div class="lead">
    <p> Input Image </p>
    <form action="" class="dropzone" dropzone3="" id="dropzone">
      <div class="dz-default dz-message">Click to Upload<br>or<br>Drag &amp; Drop </div>
    </form>
  </div>
</div>

<div class="jumbotron">
<p> Output Image </p>
  <div class="lead">
    <img ng-src="{{image}}" style="max-width: 100%">
  </div>
</div>


<div class="lead">
  <p> This model can be used to render videos in a frame-by-frame manner. The video below shows one example of applying image segmentation on a video clip. </p>
</div>

<div class="jumbotron">
<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/ruM7S-cqk-k?ecver=2" width="640" height="360" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
</div>


<div>
    <p> <b>Disclaimer:</b> We do not keep your uploaded image in our server.</p>
</div>
