<div >

<h2> Demo: Image Segmentation with Mask R-CNN  </h2>
<div class="lead">
<p>

This is an implementation of the Mask R-CNN network using Owl. This network can be used to perform object detection, segmentation and classification. The implementation is based on <a href="https://arxiv.org/abs/1703.06870"> this paper </a>, and ported from <a href="https://github.com/matterport/Mask_RCNN"> this Keras implementation </a>. The code used in the demo can be found in this <a href="https://github.com/owlbarn/owl-mask-rcnn"> Github Repo </a>.

</p>
</div>

<div class="jumbotron">
   <img src="images/mrcnn_example.jpg" width=582 alt="mrcnn example"> 
</div>

<div class="jumbotron">
<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/ruM7S-cqk-k?ecver=2" width="640" height="360" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
</div>


<div>
    <p> <b>Note:</b> an online image segmentation demo will soon be added. </p>
</div>
